.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.popup-modal{
    background: rgb(239, 239, 244);
    padding: 20px ;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}
.popup-modal .popup-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: left;
}
.popup-modal .popup-content .popup-title-content{
  display: flex;
  justify-content: space-between;
}
.popup-modal .popup-content p{
  padding: 0px 0px 14px 0px;
}
.popup-modal .popup-buttons{
  display: flex;
  justify-content: end;
  column-gap: 20px;
}
.popup-modal .popup-buttons button:nth-child(2){
  background: #B5022E;
  border: unset;
}
.backgroundDisable{
  filter: blur(1.2);
  pointer-events: none;
}
.backgroundEnable{
  pointer-events: default;
}


.all-vehicle-header {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}

.all-vehicle-header h3 {
    margin: 0 !important;
}

.add-driver-navigate-btn-div {
    display: flex;
    align-items: center;
}

.add-vehicle-btn {
    margin-right: 20px;
    padding: 5px 30px;
    border-radius: 22px;
    border: 1px solid #1A2A84;
    background-color: #1A2A84;
    color: #fff;
    text-decoration: none !important;
}

.add-vehicle-btn:hover {
    color: #fff;
}

.vehicle-search-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2%;
    padding: 0px 0px 0px 34px;
}
.vehicle-search-section input{
    border: unset;
    background-color: #F9F9F9;
    border-radius: 12px;
}
.vehicle-search-section .user_box{
    background-color: #F9F9F9;
    border-radius: 12px;
    padding: 6px 10px;
}
.vehicle-search-section .search-box{

    border-radius: 12px;
    background-color: #F9F9F9 ;
    padding: 4px 6px;
    width: 340px;
}
.all-vehicle-conainer {
    height: 650px;
    padding: 12px 20px;
}
.all-vehicle-conainer  thead{
    background-color: #9C9C9C;
    color: #fff;
}
.all-vehicle-conainer th {
    padding: 10px 0px 10px 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #fff;
}
.all-vehicle-conainer td {
    padding: 10px 0px 10px 20px;
    text-align: left;
}
.all-vehicle-conainer td div.action_icon {
    align-items: center;
    display: flex;
    column-gap: 8px;
    justify-content: left; 
}
.all-vehicle-conainer td div.action_icon img {   
  width:22px;    
}
.all-vehicle-conainer td div.action_icon img:nth-child(2){
    width:16px;
}
.all-vehicle-conainer td div.action_icon img:last-child{
    width:15px;
}


@media only screen and (min-width: 1200px) and (max-width: 1600px) {
        
    .all-vehicle-conainer {
        height: 526px;
        padding: 12px 20px;
    }
    .all-vehicle-conainer th {
        padding: 10px 50px;
        text-align: center;
    }
    .all-vehicle-conainer td {
        padding: 10px 30px;
        text-align: center;
    }
    .all-vehicle-conainer td:last-child .action_icon{
        padding: 0px 0px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }
    .all-vehicle-conainer td:last-child .action_icon img:nth-child(2){
        width:13px;
    }
    .all-vehicle-conainer tbody tr td:nth-child(5) button {
        background-color: #5D68CA;
        border-radius: 16px;
        text-align: center;
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        border: none;
        padding: 4px 10px;
    }
    .all-vehicle-conainer tbody tr td:nth-child(5) button {
        background-color: #5D68CA;
        border-radius: 16px;
        text-align: center;
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        border: none;
        padding: 4px 10px;
    }
    }
@media only screen and (min-width: 992px) and (max-width: 1199px) 
{
    
    .all-vehicle-conainer th {
        padding: 20px 20px;
        font-size: 12px;
    }
    .all-vehicle-conainer td {
        padding: 20px 20px;
        font-size: 11px;
        text-align: center;
    } 

}
@media (min-width: 768px) and (max-width: 991px) {
  
    .all-vehicle-conainer th {
        padding: 20px 20px;
        font-size: 12px;
    }
    .all-vehicle-conainer td {
        padding: 20px 20px;
        font-size: 11px;
        text-align: center;
    }
}
