
.user-complain-container  {
    height: 650px;
    padding: 12px 20px;
}

.user-complain-container  thead{
    background-color: #9C9C9C;
    color: #fff;
}
.user-complain-container th {
    padding: 10px 0px 10px 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #fff;
}
.user-complain-container td {
    padding: 10px 0px 10px 20px;
    text-align: left;
}