.complaint-form-container .complaint-form-tab  button{

    margin-left: 20px;
    padding: 5px 50px;
    border-radius: 22px;
    border: 1px solid #1A2A84;
    color: white;
    background: #1A2A84;

}