.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.popup-modal{
    background: rgb(239, 239, 244);
    padding: 20px ;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}
.popup-modal .popup-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: left;
}
.popup-modal .popup-content .popup-title-content{
  display: flex;
  justify-content: space-between;
}
.popup-modal .popup-content p{
  padding: 0px 0px 14px 0px;
}
.popup-modal .popup-buttons{
  display: flex;
  justify-content: end;
  column-gap: 20px;
}
.popup-modal .popup-buttons button:nth-child(2){
  background: #B5022E;
  border: unset;
}
.backgroundDisable{
  filter: blur(1.2);
  pointer-events: none;
}
.backgroundEnable{
  pointer-events: default;
}




.all-driver-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}

.all-driver-header h3 {
    margin: 0 !important;
}

.add-driver-navigate-btn-div {
    display: flex;
    align-items: center;
}

.add-driver-btn {
    margin-right: 20px;
    padding: 5px 30px;
    border-radius: 22px;
    border: 1px solid #1A2A84;
    background-color: #1A2A84;
    color: #fff;
    text-decoration: none !important;
}

.add-driver-btn:hover {
    color: #fff;
}

.all-driver-conainer {
    height: 650px;
    padding: 12px 20px;
}

table {
    width: 100%;
}
table tbody tr{
    text-align: left;
}
.all-driver-conainer th {
    padding: 10px 0px 10px 20px;
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.all-driver-conainer thead {
    background-color: #9C9C9C;
}

.all-driver-conainer td{
    padding: 10px 0px 10px 20px;
    text-align: left;
}
.all-driver-conainer td:last-child{
    padding: 10px 0px 10px 20px;
    text-align: left;
}
.all-driver-conainer .action_icon {
    align-items: center;
    display: flex;
    column-gap: 8px;
   
}
.all-driver-conainer .action_icon a img:first-child{   
    width:15px;    
  }
.all-driver-conainer .action_icon img:last-child{
    width:15px;
}

.all-driver-conainer tbody tr td:nth-child(5) button {
    background-color: #5D68CA;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 4px 10px;
}
.pagination {
    padding: 10px;
    display: flex;
    justify-content: end;
    column-gap: 1%;
}
.prev_page .fa-solid , .next-page .fa-solid{
    color: #000;
  
}
.pagination__disable .fa-solid{
    color:#CDCDCD;
}

.pagination__disable .fa-solid{
    color:#CDCDCD;
}

.pagination>span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #CDCDCD;
    border-radius: 50%;
    text-align: center;
    color: #000;
}
.pagination .inactive_page{
    color:  #000 ;
}
span.pagination__selected{
    background-image: linear-gradient(180deg, #1B2B84 0%, #0D1540 100%);
    color: white;
}

.search-box {
    display: inline-block;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    padding: 2px;
}

.search-box-section label {
    margin: 0px 30px;
}


.search-box input {
    border: unset;
}

.search-box input:focus {
    border-color: unset !important;
    outline: 0;
    box-shadow: unset !important;
}

@media (min-width:1200px) and (max-width:1600px) {
    .all-driver-conainer th {
        /* padding: 8px 30px; */
        font-size: 14px;
        text-align: left;
    }

    .action_icon {
        align-items: center;
        display: flex;
        column-gap: 8px;
       
    }
    .action_icon img {   
      width:17px;    
    }
    .action_icon img:last-child{
        width:13px;
    }

}
@media screen and (min-width:992px ) and (max-width:1199px) {
    .all-driver-conainer th {
        padding: 10px 20px;
        font-size: 14px;
        
    }
   
    
}
@media (min-width:850px) and (max-width:991px) {

    .all-driver-conainer th {
 
        font-size: 10px;
        text-align: left;
   
    }

    .all-driver-conainer td {
        font-size: 14px;
    }

    .all-driver-conainer th {
        /* padding: 20px 10px; */
        font-size: 10px;
    }
}

@media (min-width:768px) and (max-width:850px) {

    .all-driver-conainer th {
        font-size: 10px;
        text-align: left;
    }

    .all-driver-conainer td {
        text-align: left;
        font-size: 10px;
    }
    .all-driver-conainer th {
        padding: 20px 10px;
        font-size: 10px;
    }
}