
.flex-container {
  display: flex;
  height: 100vh;
}

.fa-user {
  color: white;
  font-size: 24px;
}

.sidebar-container {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 16vw;
  height: 100vh;
  /* overflow-y: auto; */
  background-image: linear-gradient(180deg, #1A2A84 0%, #000000 188.09%);
}

/* ::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
} */

/* ::-webkit-scrollbar-thumb {
  background: transparent; 
} */


.component-show {
  display: block;
  position: relative;
  top: 100px;
}

.sidebar {
  position: relative;
  top: 0px;
  left: 0;
  transition: left 0.3s ease;
  z-index: 99;
}

/* .open {
  left: -268.80px;
} */

.logo-container {
  display: flex;
  flex-direction: row;
}
.logo-cntainer .logo img{
    width:60%;
}
.logo-container .username {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  width: 40%;
  padding-left: 10px;
}
/* .sidebar .sidebar-container{
  width: 18vw;
} */
.sidebar .sidebar-container ul li {
  list-style: none;
}

.sidebar .sidebar-container ul .dashboard-container {
  padding: 40px 0px;
}

.sidebar .sidebar-container ul li .logo-container {
  width: 100%;
  display: flex;
}

.sidebar .sidebar-container ul li .logo-container .logo {
  padding-right: 10px;
}

.sidebar-container .menu {
  padding: 10px 0px;
}

.sidebar .sidebar-container ul li .link-tag {
  text-decoration: none;
}

.link-tag span {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  padding: 6px 0px 0px 14px;
}
.link-tag.active-link{
  color:blue;
  text-decoration: none;
  border: 1px solid red;
}
.link-tag img {
  width: 24px;
}
.link-tag img.dashboard-icon{
  width: 24px;
}
.link-tag img.all-rides-icon{
  width: 18px;
}
.link-tag img.add-vehicle-icon{
  width: 28px;
}
.link-tag img.logout-icon{
  width: 20px;
}
.link-tag img.earning-icon{
  width:22px;
}
.link-tag img.complaints-icon{
  width: 24px;
}
.link-tag img.terms-condition-icon{
  width: 22px;
}
.link-tag img.policy-icon{
  width: 22px;
}

.link-tag.btn-container button.policy-icon {
  background-color: unset !important;
  border: unset !important;
  padding: 0px !important;
}
.header-position {
  height: 100%;
  position: absolute;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}

.app-content-container {
  position: relative;
  z-index: 1;
}
.caret-icon{
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 0;
}
/* Logout popup modal or button */

.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.popup-modal{
    background: rgb(239, 239, 244);
    padding: 20px ;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}
.popup-modal .popup-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: left;
}
.popup-modal .popup-content .popup-title-content{
  display: flex;
  justify-content: space-between;
}
.popup-modal .popup-content p{
  padding: 0px 0px 14px 0px;
}
.popup-modal .popup-buttons{
  display: flex;
  justify-content: end;
  column-gap: 20px;
  
}
.popup-modal .popup-buttons button:nth-child(2){
  background: #B5022E;
  border: unset;
}
.backgroundDisable{
  filter: blur(1.2);
  pointer-events: none;
}
.backgroundEnable{
  pointer-events: default;
}
/* Media for laptop view */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .flex-container {
    min-height: 100vh;
  }
 
  .sidebar-container {
    width: 17vw;
    min-height: 100vh;
    position: fixed;
  }
  
  .header-position {

    position: absolute;
    display: flex;
    top: 0px;
    flex-direction: column;
  }

  .logo-container .username {
    font-size: 20px;
    width: 40%;
    padding-left: 10px;
  }
  .logo-container .username p{
    font-size: 16px;
  }
  .link-tag span {
    padding-left: 10px;
    font-size: 14px;
  }
  .link-tag img {
    width: 24px;
  }
  .link-tag img.dashboard-icon {
    width: 22px;
  }
  .link-tag img.all-rides-icon{
    width: 18px;
  }
  .link-tag img.add-vehicle-icon {
    width: 22px;
    padding: 0px 0px 0px 0px;
}
  .link-tag img.logout-icon{
    width: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .logo-container .logo img{
    width: 80px;
  }
  .sidebar-container {
    width: 20vw;
    position: fixed;
  }

  .sidebar-container .menu {
    padding: 8px 0px;
  }

  .logo-container .username {
    font-size: 16px;
  }

  .link-tag span {
    font-size: 14px;
  }
  .link-tag img {
    width: 24px;
  }
  .link-tag img.dashboard-icon {
    width: 22px;
  }
  .link-tag img.all-rides-icon{
    width: 18px;
  }
  .link-tag img.add-vehicle-icon {
    width: 22px;
    padding: 0px 0px 0px 0px;
}
  .link-tag img.logout-icon{
    width: 20px;
  }
  .header-position {
    left: 204.80px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-container {
    font-size: 20px;
    width: 27vw;
    background-image: linear-gradient(180deg, #1A2A84 0%, #000000 188.09%);
  }
  .link-tag span {
    font-size: 14px;
  }
  .sidebar .sidebar-container ul .dashboard-container {
    padding: 15px 0px;
  }
  .logo-container .username {
    font-size: 18px;
    width: 40%;
  }

}
@media (min-width:768px) and (max-width:890px) {
  .sidebar-container {
    font-size: 20px;
    width: 30vw;
    background-image: linear-gradient(180deg, #1A2A84 0%, #000000 188.09%);
  }
.header-position {
  left: 255px;
  
  }
}
/* @media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media only screen and (min-width: 992px) and (max-width: 1199px) {}  */
/* @media only screen and (min-width: 1200px) and (max-width: 1600px) {

} */