.signup-image {
    position: absolute;
    color: white;
    z-index: 999;
    bottom: 14rem;
    text-align: left;
    width: 100%;
    padding-left: 140px;
}
.signup-image h2 {
    font-family: Inter;
    font-size: 56px;
    font-weight: 800;
}
.signup-image p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
.signup-form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    
}
.signup-form {
    text-align: left;
}

.signup-form div:nth-child(1) h2 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}
.signup-form div:nth-child(1) p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #777777;
    padding: 50px 0px;
}
.signup-form div:nth-child(1) span {
    padding: 0px 5px;
}
form.signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-form input[type="email"],
.signup-form input[type="text"],
.signup-form input[type="file"] ,
.signup-form input[type="password"] ,
.signup-form select{
    width: 444px;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    margin:10px 0px;
    font-size: 24px;
    color: #777777;
}

.signup-form select{
    margin:0px 0px 15px 0px;

}
.signup-form button {
    margin-top: 5%;
    width: 100%;
    padding: 12px 0px 12px 0px;
    border-radius: 36px ;
    background: #B5022E;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border: unset;
}
/* 
 .FileUpload1 {
    display: none;
}

.signup-page .upload-container {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-page .upload-container label {
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-page .upload-container p {
    padding: 0px !important;
  } */

@media only screen and (min-width: 1199px) and (max-width: 1600px) {
    .signup-image {
        bottom: 9rem;
    }
    .signup-form div:nth-child(1) h2 {
        font-size: 30px;
    }
    .signup-form div:nth-child(1) p {
        font-size: 20px;
        padding: 12px 0px;
    }
    
    .signup-form input[type="email"], .signup-form input[type="password"], .signup-form input[type="text"], .signup-form input[type="file"] {
        margin: 7px 0px;
        font-size: 16px;
    }
    .signup-form select{
        border-bottom: 1px solid gray;
        margin:0px 0px 0px 0px;
        font-size: 16px;
        color: #777777;
    }
    
    .signup-form select{
        margin:0px 0px 0px 0px;
        
    }
    .signup-form button {
        margin-top: 3%;
        padding: 10px 0px 10px 0px;
        font-size: 20px;
    }
}
/* mini Lp view */
@media only screen and (min-width: 992px) and (max-width: 1199px) 
{
    .signup-form div:nth-child(1) h2 {
        font-size: 30px;
    }
    .signup-form div:nth-child(1) p {
        font-size: 14px;
        padding: 16px 0px;
    }
    .signup-form input[type="email"], .signup-form input[type="text"], .signup-form input[type="file"], .signup-form input[type="password"], .signup-form select {
        width: 300px;
        margin: 8px 0px;
        font-size: 16px;
    }
    .signup-image {
        bottom: 16rem;
        padding-left: 46px;
    }
    .signup-image h2 {
        font-size: 46px;
        font-weight: 600;
    }
    .signup-image p {
        font-size: 20px;
        font-weight: 600;
    }
    .login-form form div:nth-child(3) label {
        font-size: 20px;
        padding: 10px 0px 0px 10px;
    }
    .login-form form div:nth-child(3) input {
        width: 24px;
        height: 24px;
        margin-top: 3%;
    }
    .signup-form button {
        margin-top: 3%;
        padding: 6px 0px 6px 0px;
        font-size: 20px;
        font-weight: 600;
        width: 75%;
    }
    .signup-form-container {
        /* width: 100%; */
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .signup-image {
        bottom: 13rem;
        padding-left: 46px;
    }
    .signup-heading-container{
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .signup-form .signup-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
        width: 76%;
        /* border: 1px solid red; */
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .signup-form div:nth-child(1) h2 {
        font-size: 30px;
    }
    .signup-form div:nth-child(1) p {
        font-size: 14px;
        padding: 16px 0px;
    }
    .signup-form input[type="email"], .signup-form input[type="text"], .signup-form input[type="file"], .signup-form input[type="password"], .signup-form select {
        width: 300px;
        margin: 8px 0px;
        font-size: 16px;
    }
    .signup-image {
        bottom: 16rem;
        padding-left: 46px;
    }
    .signup-image h2 {
        font-size: 46px;
        font-weight: 600;
    }
    .signup-image p {
        font-size: 20px;
        font-weight: 600;
    }
    .login-form form div:nth-child(3) label {
        font-size: 20px;
        padding: 10px 0px 0px 10px;
    }
    .login-form form div:nth-child(3) input {
        width: 24px;
        height: 24px;
        margin-top: 3%;
    }
    .signup-form button {
        margin-top: 3%;
        padding: 6px 0px 6px 0px;
        font-size: 20px;
        font-weight: 600;
        width: 75%;
    }
    .signup-form-container {
        /* width: 100%; */
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .signup-image {
        bottom: 13rem;
        padding-left: 46px;
    }
    .signup-heading-container{
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .signup-form .signup-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
        width: 76%;
        /* border: 1px solid red; */
    }
}
