.signup-form button {
    margin-top: 5%;
    width: 100%;
    padding: 12px 0px 12px 0px;
    border-radius: 36px;
    background: #B5022E;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border: unset;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .signup-title {
        font-family: Inter;
        font-size: 48px;
        font-weight: 600;
        color: #000000;
        text-align: center;
    }

    .signup-form .form-title {
        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        text-align: left;

    }
    .signup-form .form-title.operation-title{
        padding: 22px 0px 0px 0px;
    }
    .signup-form input{
        border:unset;
        border-bottom:1px solid #777777 ;
        border-radius: unset;
        width: 96%;
        color:#000000;
    }
    .signup-form button {
        margin-top: 3%;
        padding: 10px 0px 10px 0px;
        font-size: 20px;
    }
}

/* mini Lp view */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}