.all-agent .all-driver-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}

.all-agent .all-driver-header h3 {
    margin: 0 !important;
}

.all-agent .add-driver-navigate-btn-div {
    display: flex;
    align-items: center;
}

.all-agent .add-driver-btn {
    margin-right: 20px;
    padding: 5px 30px;
    border-radius: 22px;
    border: 1px solid #1A2A84;
    background-color: #1A2A84;
    color: #fff;
    text-decoration: none !important;
}

.all-agent .add-driver-btn:hover {
    color: #fff;
}

.all-agent .all-agent-conainer th {
    padding: 10px 0px 10px 20px;
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    color: #fff;

}
/* status-btn */
.all-agent-conainer tbody tr td:nth-child(7) button {
    background-color: #5D68CA;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    font-family: Inter; 
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 4px 10px;
}
.all-agent-conainer tbody tr td:nth-child(7) button.approved-btn{
    font-size: 14px;
    padding: 5px 10px;
} 
.all-agent .pending-btn{
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: Inter; 
    font-size: 14px;
    font-weight: 400;
    border: none;
}


/* 
.all-agent .all-driver-conainer th :first-child {
    padding: 20px 0px 20px 25px;
} */
.all-agent .all-agent-conainer td {
    padding: 10px 0px 10px 20px;
    text-align: left;
}

.all-agent .pagination {
    padding: 10px;
    display: flex;
    justify-content: end;
    column-gap: 1%;
}

.all-agent .pagination>span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #CDCDCD;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.all-agent .pagination .inactive_page {
    color: #000;
}

span.pagination__selected {
    background-image: linear-gradient(180deg, #1B2B84 0%, #0D1540 100%);

}

.all-agent .pagination__selected {
    background-color: rgb(220, 220, 220);
}

.all-agent .search-box {
    display: inline-block;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    padding: 2px;
}

.all-agent  .search-box-section label {
    margin: 0px 30px;
}


.all-agent  .search-box input {
    border: unset;
}

.all-agent  .search-box input:focus {
    border-color: unset !important;
    outline: 0;
    box-shadow: unset !important;
}

.all-agent-conainer thead {
    background-color: #9C9C9C;
}

.all-agent-conainer {
    height: 650px;
    padding: 12px 20px;
}

.all-agent-conainer .action_icon {
    align-items: center;
    display: flex;
    column-gap: 8px;
   
}
.all-agent-conainer .action_icon a img:first-child{   
  width:20px;    
}
.all-agent-conainer .action_icon img:last-child{
    width:16px;
}
@media (min-width:1200px) and (max-width:1600px) {
    
.all-agent-conainer {
    height: 580px;
}
.all-agent-conainer tbody tr td:nth-child(7) button {
    font-size: 14px;
    padding: 5px 15px;
}
.all-agent-conainer tbody tr td:nth-child(7) button.approved-btn{
        font-size: 14px;
        padding: 5px 10px;
   } 
   .pending-btn{
        border-radius: 10px;
        text-align: center;
        color: #fff;
        font-family: Inter; 
        font-size: 14px;
        font-weight: 400;
        border: none;
   }
   .all-agent td:last-child .action_icon{
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
       
    }
.all-agent td:last-child .action_icon img:nth-child(1){
    width:17px;
}
.all-agent td:last-child .action_icon img:nth-child(2){
    width:13px;
}
}
@media (min-width:991px) and (max-width:1199px) {
    .all-agent-conainer {
        height: 950px;
    }
    .all-agent .all-agent-conainer th {
        padding: 10px 0px 10px 20px;
        font-size: 14px;
      
    }
    .all-agent td:last-child .action_icon{
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 6px;
       
    }
.all-agent td:last-child .action_icon img:nth-child(1){
    width:17px;
}
.all-agent td:last-child .action_icon img:nth-child(2){
    width:13px;
}
.all-agent .action_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
}
@media (min-width:850px) and (max-width:991px) {
    .all-agent-conainer {
        height: 750px;
        padding: 12px 20px;
    }
    .all-agent .all-agent-conainer th {
        padding: 10px 10px 10px 10px;
        text-align: left;
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
    }
    .all-agent-conainer th {
        padding: 20px 8px;
        font-size: 10px;
        /* text-align: center; */
        /* border: 1px solid red; */
    }


    .all-agent-conainer td {
        text-align: center;
        font-size: 12px;
        padding: 10px 0px 10px 10px;
        
    }

    .all-agent-conainer td :first-child {
        padding: 0px 0px 0px 0px;
    }

    .all-agent-conainer th {
        padding: 20px 10px;
        font-size: 10px;
    }
    .action_icon {
        align-items: center;
        display: flex;
        column-gap: 4px;
    }
    .all-agent-conainer .action_icon img:first-child {
        width: 15px;
    }
    .all-agent-conainer .action_icon img:last-child {
        width: 12px;
    }
    .all-agent-conainer tbody tr td:nth-child(7) button {
      
        font-size: 13px;
        padding: 2px 9px;
    }
    .all-agent-conainer tbody tr td:nth-child(7) button.approved-btn {
        font-size: 13px;
        padding: 4px 9px;
    }
      
}

@media (min-width:768px) and (max-width:850px) {

    .all-agent-conainer th {
        padding: 20px 8px;
        font-size: 10px;
        text-align: center;
        /* border: 1px solid red; */
    }

    .all-agent-conainer th :first-child {
        padding: 20px 0px 20px 20px;
    }

    .all-agent-conainer td {
        padding: 18px 20px;
        /* border: 1px solid red; */
        text-align: center;
        font-size: 10px;
    }

    .all-agent-conainer td :first-child {
        padding: 0px 0px 0px 0px;
    }

    .all-agent-conainer th {
        padding: 20px 10px;
        font-size: 10px;
    }
}